<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed</title>
</head>
<body>
{% extends 'todoapp/base.html' %}

{% block content %}
Completed
{% for obj in todo %}

<ul>
    <li>
        <a href="{% url 'viewtodo' obj.id %}">
            {% if obj.important %}
            <b>
                {% endif %}
                {{obj.title}}
                {% if obj.memo %} - {{ obj.memo }} {% endif %}</b>
            {{ obj.datecompleted|date:'M j Y' }} </a>
    </li>
</ul>
{% endfor %}
{% endblock %}
</body>
</html>